$pink-trans:rgba(104, 12, 125, 0.2196078431372549);
$white-trans: rgba(255, 255, 255, 0.66);
$blue: #3f51b5;
$light-blue: #e2e5f4;
$blue-trans: rgba(63, 81, 181, 0.15);
.body{
  background-color: white;


  mat-card{
    width: 100%;
    display: flex;
    justify-content: baseline;
    padding: 10px;
    .image{
      background-color: $blue-trans;
      border-radius: 50%;
      width: 39px;
      height: 39px;

    }
    .name{
      padding: 15px 0;
      padding-left: 10px;

    }

  }

}
