<div *ngIf="openConfirmWondow" class="blur"></div>
<div class="body">
  <mat-card class="dont-have-friends" *ngIf="dontHaveFriends">
    <p>You don`t have friends yet...</p>
  </mat-card>
  <mat-card *ngFor="let item of  friends, let i = index">
    <div class="image">
      <p>{{item.firstName.substring(0,1)}}{{item.lastName.substring(0,1)}}</p>
    </div>
    <div class="name">
      <p>{{item.firstName}} {{item.lastName}}</p>
    </div>
    <button mat-icon-button (click)="openConfirmDialog()">
      <i class="material-icons">delete</i>
    </button>

    <div *ngIf="openConfirmWondow" class="confirm_window">
      <p>Remove friend?</p>
      <div class="buttons">
        <button mat-raised-button (click)="removeFriend(i)">Yes</button>
        <button mat-raised-button (click)="openConfirmDialog()">No</button>
      </div>
    </div>
  </mat-card>
</div>
