<div class="auth container">
  <div class="wrapper">
    <div class="top">
      <p class="login">Login</p>
    </div>
    <form action="">
      <mat-form-field class="example-full-width">
        <input  matInput type="email" placeholder="email" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input  matInput type="password" placeholder="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Let me in!</button>
    </form>
    <div class="register-link">
      <p>Don`t have an account yet?</p>
      <div class="signIn">
        <a>Sign up!</a>
      </div>
    </div>
  </div>
</div>

