<div *ngIf="openMessage" class="blur"></div>
<div class="body">
  <div class="container wrapper">
    <app-header></app-header>
    <mat-card *ngIf="openMessage" class="friend-added-message">Friend added!</mat-card>
    <div class="autocomplete">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="searchText" placeholder="Search your friend...">
      </mat-form-field>
    </div>
    <div class="user_list">
      <div class="list">
        <mat-card *ngFor="let item of users | filter : searchText"  class="user">
          <div class="personal-info">
            <div class="image"  [routerLink]="['/user', item.userId, item.isFriendOfCurrentUser]">
              <p>{{item.firstName.substring(0,1)}}{{item.lastName.substring(0,1)}}</p>
            </div>
            <div class="name">
              <p>{{item.firstName}}</p>
              <p>{{item.lastName}}</p>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="follow"
            [disabled]="disableButton(item)"
            (click)="addNewFollower(item)">
            {{getButtonText(item)}}
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
