$pink-trans:rgba(104, 12, 125, 0.2196078431372549);
$white-trans: rgba(255, 255, 255, 0.66);
$blue: #3f51b5;
$light-blue: #e2e5f4;
.blur {
  position: fixed;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.69);
}

.body{
  text-align: center;
  margin-bottom: 0px;
  background-image: url("../../../assets/img/white_brick.jpg");
  .wrapper{
    padding-bottom: 50px;
    min-height: 100vh;
  }
  app-header {
    margin: 30px;
  }
  .friend-added-message{
    color: $light-blue;
    background-color: $blue;
    width: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 15%;
    position: absolute;
    z-index: 10;
  }
  .autocomplete{
    mat-form-field{
      text-align: center;
    }
  }
  .user_list{
    margin: 40px;
    margin-top: 50px;
    mat-grid-list{
      mat-grid-tile{
        background-color: white;
        box-shadow: 7px 7px 8px 0px #b0b0b030;

        .personal-info{
          height: 100%;
          .image{
            background-color: $light-blue;
            width: 115px;
            height: 100%;
            position: absolute;
            left: 0;
            &:hover{
              cursor: pointer;
            }
            p{
              font-size: 37px;
              text-shadow: 2px 2px 4px #a7a7a7;
              color: rgba(63, 81, 181, 0.38);
            }
          }
          p{
            line-height: 117px;
          }
        }
        button{
          position: absolute;
          right: 5px;
          bottom: 5px;
          &.disabled {
            pointer-events: none;
          }
        }
      }
    }
  }
}
