<ng4-loading-spinner> </ng4-loading-spinner>
<div class="body">
  <mat-card class="dont-have-posts" *ngIf="noPosts">
    <p>{{user.firstName}} don`t have posts yet...</p>
  </mat-card>
  <div class="posts"  *ngFor="let item of postsOfCurrentUser | reverse">
    <mat-card>
      <div class="user_info">
        <div class="image">
          <p>{{user.firstName.substring(0,1)}}{{user.lastName.substring(0,1)}}</p>
        </div>
        <div class="info">
          <p class="name">{{user.firstName + ' ' + user.lastName}}</p>
          <p class="date">{{item.day}}  {{item.month}} at {{item.hour}}</p>
        </div>
      </div>
      <div class="post">
        <p>{{item.text}}</p>
        <div
          *ngIf="item.image != undefined"
          [ngStyle]="{'background-size':'cover'}"
          [style.background]="'url('+item.image+')'"
          class="post-image"
        ></div>
      </div>
    </mat-card>
  </div>
</div>

