<div class="body">
  <div class="posts"  *ngFor="let item of postsOfCurrentUser">
    <mat-card>
      <div class="user_info">
        <div class="image">
          <p>{{currentUser.firstName.substring(0,1)}}{{currentUser.lastName.substring(0,1)}}</p>
        </div>
        <div class="info">
          <p class="name">{{currentUser.firstName}} {{currentUser.lastName}}</p>
          <p class="date">{{item.day}}  {{item.month}} at {{item.hour}}</p>
        </div>

      </div>
      <div class="post">
        <p>{{item.text}}</p>
      </div>
    </mat-card>
  </div>
</div>

