<div class="auth container">
  <div class="wrapper">
    <div class="top">
      <p class="login">Registration</p>
    </div>
    <div *ngIf="this.authService.isError"  class="errorMessage">
      <p>{{this.authService.errorMessage}}</p>
    </div>
    <div *ngIf="this.authService.success"  class="successMessage">
      <p>You have successfully registered!</p>
    </div>
    <form name="form" #signupForm="ngForm" (ngSubmit)="signUp(signupForm)">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="email"
          placeholder="email"
          [(ngModel)]="user.email"
          required
          [ngModelOptions]="{standalone: true}"
          >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          type="password"
          placeholder="password"
          [(ngModel)]="user.password"
          [ngModelOptions]="{standalone: true}"
          >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          placeholder="First name"
          required
          maxlength="30"
          [(ngModel)]="user.firstName"
          [ngModelOptions]="{standalone: true}"
          >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          placeholder="Last name"
          required
          maxlength="30"
          [(ngModel)]="user.lastName"
          [ngModelOptions]="{standalone: true}"
          >
      </mat-form-field>
      <button type="submit" [disabled]="!signupForm.form.valid">Submit</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signupForm.form.invalid">
        Sign up!
      </button>
    </form>
    <div class="register-link">
      <p>Already have an account?</p>
      <div class="signIn">
        <a routerLink="../login" >  Sign in!</a>
      </div>
    </div>
  </div>
</div>
