$pink-trans:rgba(104, 12, 125, 0.2196078431372549);
$white-trans: rgba(255, 255, 255, 0.66);
$blue: #3f51b5;
$light-blue: #e2e5f4;

$ipadPro-width: 1024px;
$ipad-width: 768px;
$iphoneX-width: 375px;
$iphone8Plus-width: 414px;

.auth{
  width: 30%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
  background-image: url("../../../assets/img/white_brick.jpg");
  padding: 38px;
  .wrapper{
    background-color: $white-trans;
    padding: 30px;
    .top {
      background-color: $blue;
      padding: 8px 0px;
      margin-bottom: 19px;
      .login{
        font-size: 30px;
        font-weight: 100;
        color: $light-blue;
      }
    }
    .errorMessage{
      display: block;
      background-color: #ff000036;
      padding: 6px 0px;
      margin-bottom: 19px;
      color: #717171;
    }
    .successMessage{
      @extend .errorMessage;
      background-color: rgba(0, 150, 136, 0.2784313725490196);
    }
    form{
      mat-form-field{
        display: block;
      }
    }
    .register-link{
      font-size: 14px;
      color: #717171;
      text-align: left;
      p{
        font-family: Roboto;
        justify-content: space-between;
        display: inline-block;
        margin-top: 33px;
        font-weight: 100;
      }
      .signIn{
        display: inline-block;
        padding-left: 23px;
        &:hover{
          transform: scale(1.12, 1.12);
        }
      }
      a{
        text-decoration: none;
        color: #717171;
        &:hover{
          color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: $ipadPro-width) {
  .auth{
    width: 58%;
  }
}

@media screen and (max-width: $iphone8Plus-width) {
  .auth{
    width: 100%;
    padding: 10px;
    .wrapper {
      .top {
        .login {
          font-size: 16px;
        }
      }
      form {
        mat-form-field {
          font-size: 14px;
        }
      }
      .register-link{
        p{
          font-size: 12px;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }
}


