<div class="auth container">
  <div class="wrapper">
    <div class="top">
      <p class="login">Registration</p>
    </div>
    <form action="">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="email"
          placeholder="email"
          required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="password"
          placeholder="password"
          required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          placeholder="First name"
          maxlength="30"
          required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          placeholder="Last name"
          maxlength="30"
          required>
      </mat-form-field>
      <button mat-raised-button color="primary">Sign up!</button>
    </form>
    <div class="register-link">
      <p>Already have an account?</p>
      <div class="signIn">
        <a>Sign in!</a>
      </div>
    </div>
  </div>
</div>
