$pink-trans:rgba(104, 12, 125, 0.2196078431372549);
$white-trans: rgba(255, 255, 255, 0.66);
$blue: #3f51b5;
$light-blue: #e2e5f4;


.auth{
  width: 30%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
  background-image: url("../../../assets/img/white_brick.jpg");
  padding: 38px;
  .wrapper{
    background-color: $white-trans;
    padding: 30px;
    .top {
      background-color: $blue;
      padding: 8px 0px;
      margin-bottom: 19px;
      .login{
        font-size: 30px;
        font-weight: 100;
        color: $light-blue;
      }
    }
    form{
      mat-form-field{
        display: block;
      }
    }
    .register-link{
      font-size: 14px;
      color: #717171;
      text-align: left;
      p{
        font-family: Roboto;
        justify-content: space-between;
        display: inline-block;
        margin-top: 33px;
        font-weight: 100;
      }
      .signIn{
        display: inline-block;
        padding-left: 23px;
        &:hover{
          transform: scale(1.12, 1.12);
        }
      }
      a{
        text-decoration: none;
        color: #717171;
        &:hover{
          color: $blue;
        }

      }
    }

  }
}



