<div class="body">
  <div class="new_post">
    <form #postForm="ngForm" (ngSubmit)="postText()">
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          name="post"
          #message
          maxlength="256"
          [(ngModel)]="currentPost.text"
          required
          placeholder="Any news?">
        </textarea>
        <div *ngIf="imageSrc" class="image">
          <i
            class="material-icons close"
            (click)="closeImage()"
          >
            add_circle
          </i>
          <img
            [src]="imageSrc"
            (load)="handleImageLoad()"
            [class.loaded]="imageLoaded"/>
        </div>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <div class="add-image-icon">
          <i class="material-icons" (click)="file.click()">
            add_circle
            <input
              #file
              type="file"
              name="file"
              accept="image/*"
              (change)="handleInputChange($event)">
          </i>
        </div>
      </mat-form-field>
      <button
        [disabled]="postForm.form.invalid"
        type="submit"
        mat-fab
        color="primary"
      >Post</button>
    </form>
  </div>
</div>


