$blue: #3f51b5;
$light-blue: #e2e5f4;
$blue-trans: rgba(63, 81, 181, 0.15);

$ipadPro-width: 1024px;
$ipad-width: 768px;
$iphoneX-width: 375px;
$iphone8Plus-width: 414px;

.body{
  margin: 20px 0px;
  margin-bottom: 0px;
  .new_post{
    background-color: $blue-trans;
    padding-bottom: 20px;
  }
  mat-form-field{
    width: 95%;
    background-color: white;
    padding: 20px;
    margin: 20px 0px;
    .image {
      img{
        width: 100%;
      }
      .close{
        position: absolute;
        color: black;
        width: auto;
        right: 0;
        margin: 5px;
        transform: rotate(45deg);
        color: rgba(63, 81, 181, 0.588235);
      }
    }
    i{
      text-align: right;
      margin-right: 14px;
      color: rgba(63, 81, 181, 0.588235);
      width: 99%;
      &:hover {
        cursor: pointer;
      }
      input{
        display: none;
      }
    }
  }
}


