$pink-trans:rgba(104, 12, 125, 0.2196078431372549);
$white-trans: rgba(255, 255, 255, 0.66);
$blue: #3f51b5;
$light-blue: #e2e5f4;

.wrapper{
  width: 1200px;
  margin: 0 auto;
  background-color: $white-trans;
  display: flex;
  justify-content: space-between;
  .menu, .logout{
    padding: 20px;

  }
}

