<div class="body">
  <div class="menu">
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      <i class="material-icons">menu</i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        My wall
      </button>
      <button mat-menu-item routerLink="/users">
        Users
      </button>
    </mat-menu>
  </div>
  <div class="logout">
    <button mat-mini-fab color="primary" (click)="openConfirmDialog()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div *ngIf="openConfirmWondow" class="confirm_logout">
    <p>Are you sure?</p>
    <div class="buttons">
      <button mat-raised-button (click)="logOut()">Yes</button>
      <button mat-raised-button (click)="openConfirmDialog()">No</button>
    </div>
  </div>
</div>

