<div *ngIf="openMessage" class="blur"></div>
<mat-card *ngIf="openMessage" class="friend-added-message">Friend added!</mat-card>
<div class="personal">
  <div class="photo_name">
    <div class="photo"></div>
  </div>
  <div class="name_email">
    <div class="name">
      <p>{{user.firstName + ' ' + user.lastName}}</p>
    </div>
  </div>
  <div class="posts">
    <p>{{numberOfPosts}} posts total</p>
  </div>
  <div class="add-friend">
    <button
      mat-raised-button
      color="primary"
      (click)="addNewFollower()"
      [disabled]="disableButton()"
    >{{buttonText}}
    </button>
  </div>
</div>
