<div class="personal">
  <div class="photo_name">
    <div
      class="photo"
      (click)="file.click()">
     <!-- [style.background]="'url(' + currentUser.photo +')'">-->
      <input
        type="file"
        name="file"
        accept="image/*"
        #file
        (change)="handleInputChange($event)"/>
    </div>
  </div>
  <div class="name_email">
    <div class="name">
      <p>{{currentUser.firstName + ' ' + currentUser.lastName}}</p>
    </div>
    <div class="email">
      <p>{{currentUser.email}}</p>
    </div>
  </div>
  <div class="posts">
    <p>{{numberOfPosts}} posts</p>
  </div>
</div>
